#projects{
    background-color: #fff;
}

#projects h1{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-left: 5vw;
}

.head{
    position: absolute;
    padding-top: 2vh;
    font-size: 2em;
    margin-left: 10vw;
}

.experience{
    position: absolute;
    width: 270vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    background-color: #999;
    opacity: 1;
}

#company1{
    background-color: aqua;
    float: left;
    width: 80vw;
    margin-right:10vw;
}

#company2{
    background-color: orange;
    margin-right:10vw;
    float:left;
    width: 80vw;
}

#company3{
    background-color: silver;
    margin-right:10vw;
    float:left;
    width: 80vw;
}

.companyLogo{
    height: 50px;
    margin: 50px 10px;
}

@media only screen and (max-width: 768px) {
    .companyLogo{
        height: 50px;
        margin: 30px 0;
    }
}

.experience .gifs img{
    width: 500px;
    height: 300px;
    margin: 0 10px;
    box-shadow: 10px 5px 5px #666;
    float: left;
}

#space{
    float:left;
    width: 20vw;
    font-size: 6em;
    padding: 40vh 0vw;
    text-align: center;
}



.experience .content{
    display: none;;
}
.experience .companyInfo{
    display: none;
    margin: 5% 0 0 1%;
    padding: 0;
    font-weight: 600;
    line-height: 1.4;
}

.experience ul li{
    font-size: 0.8em;
    line-height: 1;
    font-weight: 500;
    margin-top: 1%;
}

.languages{
    margin-top: 2%;
}