#projects{
    background-color: #fff;
}

#projects h1{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-left: 5vw;
}

.head{
    position: absolute;
    padding-top: 2vh;
    font-size: 2em;
    margin-left: 10vw;
}

.head-mobile{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.experience{
    position: absolute;
    width: 270vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    opacity: 1;
}

#company1{
    margin-right:10vw;
}

#company2{
    margin-right:10vw;
}

#company3{
    margin-right:10vw;
}

.company-box{
    float:left;
    width: 80vw;
}

.companyLogo{
    height: 50px;
    margin: 50px 10px;
    float:left;
}

@media only screen and (max-width: 768px) {
    .company-box{
        width: 100%;
        float: none;
    }

    .companyLogo{
        margin-left: 15%;
        margin-right: 15%;
        width:70%;
    }
}

.gifs{
    width: 55%;
    float:left;
}
.gifs img{
    width: 500px;
    height: 300px;
    margin: 0 40px;
    box-shadow: 10px 5px 5px #666;
}

@media only screen and (max-width: 768px) {
    .gifs{
        width: 100%;
    }
    .gifs img{
        margin-left: 15%;
        margin-right: 15%;
        width:70%;
        height: 200px;
    }
}

.content{
    margin: 0 0px;
    width: 40%;
    float:left;
    text-align: justify;
    text-justify: inter-word;
}

.companyInfo{
    font-weight: 600;
    line-height: 1.4;
}

.company-point li{
    font-size: 1em;
    line-height: 1.3;
    font-weight: 500;
    margin-top: 1%;
}

.languages{
    margin-top: 2%;
}

@media only screen and (max-width: 768px) {
    .content{
        height: 50%;
        width: auto;
        margin: 50px 0;
        padding: 0 30px;
    }
    .companyInfo{
        font-weight: 600;
        line-height: 1;
    }
}

#space{
    float:left;
    width: 20vw;
    font-size: 6em;
    padding: 40vh 0vw;
    text-align: center;
}