#manager{
    height: 90vh;
    width: 96vh;
    padding: 0;
    margin: 0;
}

.box{
    height: 90vh;
    width: 96vw;
    margin: 2vh 2vw;
    border: 1px solid #fff;
    border-radius: 1%;
    overflow: hidden;
    animation: stretch 1s ease-out 0s;
    -webkit-animation: stretch 0.5s ease-out;
}

@keyframes stretch {
    0% {
      transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
  }

@-webkit-keyframes stretch {
    0% {
      transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
  }

#welcome h1{
    font-size: 25vh;
    font-weight: 900;
    text-align: left;
    position: relative;
    left: 36vw;
    top: 15vh;
    opacity: 0.8;
    text-shadow: 5px 0px #999;
}

#Message{
    position: absolute;
}

.about{
    font-size: 1.5em;
    font-weight: 800;
    position: absolute;
    left: 50vw;
    top: 20vh;
    color: #ff4000;
    overflow: visible;
}

#second-message{
    margin-top: 12vh;
}

#third-message{
    margin-top: 24vh;
}

@media only screen and (max-width: 768px) {
    .about{
        font-size: 1.5em;
        font-weight: 800;
        position: absolute;
        left: 15vw;
        top: 35vh;
        overflow: visible;
    }
    #second-message{
        margin-top: 12vh;
    }
    
    #third-message{
        margin-top: 24vh;
    }
}

#laptopScreen{
    position:absolute;
    margin: 1%;
}

#laptopScreen img{
    width: 90vw;
    height: 95vh;
}

@media only screen and (max-width: 768px) {
    #laptopScreen img{
        height: 87vh;
    }
}

#coloumn1{
    width:50%;
    float:left;
    height: 96vh;
    overflow:visible;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: unhide 1s ease-out;
    -webkit-animation: unhide 1s ease-out;
    z-index: 50;
}

@keyframes unhide {
    0% {
        width:100vw;
        height: 100vh;
    }
    100% { 
        width:50%;
    }
}

#coloumn2{
    width:50%;
    float:left;
    height: 96vh;
    overflow:hidden;
    background: seashell;
    z-index: 10;
}

#scrollMe{
    opacity: 1;
    position: relative;
    margin-top: 70vh;
    animation: fadeIn 1s linear 2s;
    -webkit-animation: fadeIn 1s linear 0.5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

#arrowDown{
    margin-top: 2vh;
    animation: jump 1s infinite ease-in-out;
    -webkit-animation: jump 1s infinite ease-in;
}

@-webkit-keyframes jump {
    0% {margin-top: 2vh;}
    50% {margin-top: 5vh;}
    100% {margin-top: 2vh; }
}
  
@keyframes jump {
    0% {margin-top: 2vh;}
    50% {margin-top: 5vh;}
    100% {margin-top: 2vh; }
}

/* Orientation Texts classes */

.vertical{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    margin-left: 1vw;
}

/* HELLO Text */

#h, #l2{
    /* font-size: 1px; */
    text-overflow: clip;
    overflow: visible;
    float:left;
    /* animation: loadText 0.4s ease-out; */
}

#l1{
    /* font-size: 1px; */
    text-overflow: clip;
    overflow: hidden;
    float:left;
    /* animation: loadText 0.4s ease-out; */
}

@-webkit-keyframes loadText {
    from {height: 1px;}
    to {height: 1em;}
}
  
@keyframes loadText {
    from {height: 1px;}
    to {height: 1em;}
            
}

/* Colored Texts classes */

.whiteText{
    color: whitesmoke;
}

.redText{
    color:red;
    font-size: 20vh;
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    #welcome h1{
        font-size: 14vh;
        font-weight: 500;
        left: 20vw;
    }

    .redText{
        font-size: 10vh;
    }
  }
