#sideBar{
    position: fixed;
    margin-top: 25vh;
    overflow: visible;
    z-index: 100;
    right:3vw;
}

.icon{
    position: relative;
    font-size: 2em;
    overflow: visible;
    z-index: 100;
    animation: slideFromRight 1s ease-out 0s;
    -webkit-animation: slideFromRight 1s ease-out 0s;
    transition: 1s;
    
}

.icon:hover{
    transform: rotate(15deg);
}

@media only screen and (max-width: 768px) {
    #sideBar{
        position: block;
        margin-top: 0;
        overflow: visible;
        z-index: 0;
        right:0;
    }
    .icon{
        position: block;
        font-size: 2em;
        overflow: visible;
        z-index: 0;
        animation: slideFromRight 1s ease-out 0s;
        -webkit-animation: slideFromRight 1s ease-out 0s;
        transition: 1s;
        
    }
}

/* Ids In Order of social media on screen*/

#linkedIn{
    color: #0e76a8;
}
#gitHub{
    animation-delay: 0.1s;
    color: #333;
}
#medium{
    animation-delay: 0.2s;
}
#facebook{
    animation-delay: 0.3s;
    color: #3b5998;
}
#instagram{
    animation-delay: 0.4s;
    color: #fe4164; 
}
#twitter{
    animation-delay: 0.5s;
    color:#00acee
}


@keyframes slideFromRight {
    0% {
      right:-10vh;
      opacity: 0;
    }
    100% {
        right:0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        right:-10vh;
        opacity: 0;
      }
      100% {
          right:0;
          opacity: 1;
      }
    }